language: python
sudo: true
cache:
  directories:
    - $HOME/.cache/pip
env:
  - TOX_ENV=py27-pymongo
  - TOX_ENV=py27-pyexecjs
  - TOX_ENV=py33-pymongo
  - TOX_ENV=py33-pyexecjs
  - TOX_ENV=py34-pymongo
  - TOX_ENV=py34-pyexecjs
  - TOX_ENV=pypy-pymongo
  - TOX_ENV=pypy-pyexecjs
  - TOX_ENV=pep8
script:
  - tox -e $TOX_ENV
before_install:
  - "sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10"
  - "echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list"
  - "sudo apt-get update"
  - "sudo apt-get install mongodb-org-server"
before_script:
  - "until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 1; done"
install: pip install tox
